---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spc
spec:
  selector:
    matchLabels:
      app: spc
  template:
    metadata:
      labels:
        app: spc
    spec:
      containers:
      - name: spc
        image: shaikkhajaibrahim/sample_march2024:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: spc
spec:
  type: LoadBalancer
  selector:
    app: spc
  ports:
  - port: 8080
    targetPort: 8080

